.main-bg{
    background-image: url('/img/backgrounds.svg') ;
    background-size: cover;
    background-position: center center;
    color: var(--color-white);
}
.white-bg{
    background-color: white;
    color: var(--primary-color);

}
.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem var(--gap);
}

.section{
    min-height: 100vh;

}
.menu-spacing{
    height: 65px;
}
.full-width{
    width: 100%;
}